
#app {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #ddd;
    box-sizing: border-box
}
.content {
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden
}
.content .head {
    width: 100%;
    height: 60px;
}
/* 导航条 */
.content .head nav {
    width: 100%;
    height: 60px;
}
.content .head nav>ul {
    height: 100%;
}
.content .head nav ul li.t-item {
    float: left;
    width: 150px;
    height: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    list-style: none;
    transition: all 2s;
    position: relative;
}
.content .head nav ul li.t-item>span {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #409EFF;
    box-sizing: border-box
}
.content .head nav ul li.t-item>span:hover {
    border-bottom: 2px solid #42b983
}
/* 下拉部分 */
/* height部分 len*60 */
.content .head nav ul li .list {
    width: 150px;
    box-sizing: border-box;
    position: absolute;
    z-index:9999;
    /* height: 120px; */
    height:0px;
    overflow: hidden;
    transition: height 1s;
}
.content .head nav .list li.item {
    list-style: none;
    width: 100%;
    height:60px;
    text-align: center;
    display:inline-block;
    background-color:#eee;
    opacity:0.7;
    /* border: 1px solid black; */
    box-sizing:border-box;
    border-color: #42b983;
    transition: opacity 1s;
}
.content .head nav .list li.item:hover {
    opacity: 1;
    border-bottom:2px solid #42b983
}
/* 有下拉框的 */
.content .head nav .parent:hover .list {
    height: 122px;
}
/* iframe */
.content .midd {
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    height: 100vh;
    margin-top: -60px;
    padding-top: 60px;
    overflow-y:hidden;
    display:inline-block
}
.content .midd iframe {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: hidden
}

.content .midd iframe::-webkit-scrollbar {
    height: 5px;
    width: 1px;
}
