* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: #000
}
::-webkit-scrollbar {
    height: 20px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(160, 207, 255)
}